.bigCounter {
    text-align: center;
    background-color: black;
    background: block;
}

.bigCounter div {
    display: inline-block;
    font-size: 110px;
    line-height: 130px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
}